<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="efan.com.money">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name=".Main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tubiao"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Main.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Find.JD_Tuiguang"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Publish.FD_Leixing"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Find.JD_Main"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Find.JD_Xiangxi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Find.JD_Jx"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Publish.FD_Xiangxi"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Indent.Mai_Jd_Digdan"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Indent.Mai_Fd_Dingdan"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".Main.Login.Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Main.Mine.Indent.Mai_Jd_Zhbd"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Indent.Mai_Jd_Zhbd_Tj"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Indent.Particular.Jd_Dd_Jyz"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Indent.Particular.Fd_Dd_Indent"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Login.Login"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Main.Mine.Other.Setting"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>